.layout-container{
    height: 100vh;
}

.layout-header{
    height: 15vh;
    background-color: #000;
    color: #f5f5f5;
    margin: 1rem auto;
    border-radius: 1rem;

}

.layout-content{
    height: 85vh;
    border: 1px solid #000;
    border-radius: 1rem;
}